<section class="search-section margin-auto extra-padding-top width1080">

<p class="extra-margin">  Whether its for your online store or for your social media or blog.  Whether its for your graduation, or you need a back up photographer for your wedding. We can help you find a photographer.</p>
<div class="margin-auto">
<a href="/users/sign_up" class="white extra-margin"><button class="btn-md">Support us with your artistics talents
  </button></a>
</div>
</section>