// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts { 
  .img-responsive{
  width: 100%;
  height: auto;
  }

.name { 
  a { line-height: 400%; }
  }

.new-post {
width: 60%;
min-width: 18.75em;
}


 .index  .img-responsive { width: 24em;}

}