<footer class="flex">
  <p class="padding"> 
  &copy; 
  <%= Time.now.year %>  
  <%= link_to "Club Artizan", root_path, class: "logo" %> LLC
  </p>
  <!--
  <%= link_to "Help", help_path, class: "right padding-right" %>
  <%= link_to "Media", media_path,  class: "right padding-right" %>
  -->
  
  
</footer> 