<div class="container bg">
  <div class=" container overlay color-purple">
    <header>
      <nav class="nav">
          <div class="left padding sidemenu">
          <span class="hamburger"></span>
         </div>
          <div class="right padding">
            <%= link_to "Learn more ", ourstories_path %>
        </div>
      </nav>
    </header>
     <div class="box clearfix">
        <div class="little-box margin-auto clearfix">
          <h1>Project Club Artizan </h1>
        </div>
        <div class="supporting-box margin-auto">
          <p>We are a socially responsible marketplace where you can hire any artists or artisans for your project.</p>
        </div>
      
    </div>

  </div>
 
</div>