<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Welcome to club artizan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin:0; padding:0;">

<table>
 <tr>
  <td>
    <p>Welcome <%= @email %> to Clubartizan!</p>
  </td>
 </tr>


 <tr>
   <td>
     <p>You can confirm your account email through the link below:</p>
   </td>
</tr>

<tr>
  <td>
  <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
  </td>
</tr>

<tr>
  <td>
<p> Thank you for joining the cause </p>
</td>
</tr>
</table>

</body>
</html>